.canvas-wrapper {
  display: inline-flex;
  justify-content: flex-end;
  border: 10px solid #dd0;
  transition: border-color .2s ease-in;

  &:hover {
    border: 10px solid #cc0;
    transition: border-color .2s ease-in;
  }
}

canvas {
  cursor: crosshair;
}

.row {
  margin: 10vh 5vw;
}

.fab-info {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
